# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/
ENV/
.python-version

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# Secrets
.env
*.env
*.pem
*.key
