# =========================
# VS Code
# =========================
.vscode/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Variables sensibles
# =========================
.env
